<div id='notice'><%= flash[:notice] %></div>
<div id='error'><%= flash[:error] %></div>
<%= link_to "Start new game(4)", new_plays_path(:dim => 4)%>
<%= link_to "3", new_plays_path(:dim => 3) %>
<table>
  <% @puzzle.matrix.to_a.map do |row |%>
    <tr>
      <% row.map do |item|  %>
        <td class = <%= 'clickable' if clickable?(item) %> >
          <% if clickable? item %>
            <%= link_to item, edit_plays_path(:p => item) %>
          <% else %>
            <%= item unless item.zero?  %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
