

<div id='notice'><%= flash[:notice] %></div>
<div id='error'><%= flash[:error] %></div>
<%= link_to "Start new game", new_plays_path %>
<table>
  <% (1..Puzzle::DIMENSION).each do |i|  %>
    <tr>
      <% (1..Puzzle::DIMENSION).each do |j|  %>
        <td>
          <% value, zero_pos = @puzzle.matrix[i-1, j-1], @puzzle.zero_pos%>
          <% if ((i-1 == zero_pos[0]) || (j-1 == zero_pos[1])) && ([i-1, j-1] != zero_pos)  %>
            <%= link_to value, edit_plays_path(:p => value) %>
          <% else %>
            <%= value %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>