<div id='notice'><%= flash[:notice] %></div>
<div id='error'><%= flash[:error] %></div>
<%= link_to "Start new game(4)", new_plays_path(:dim => 4)%>
<%= link_to "3", new_plays_path(:dim => 3) %>
<table>
  <% @puzzle.matrix.map do |row |%>
    <tr>
      <% row.map do |item|  %>
        <td class = 'clickable' >
           <%= link_to(item, edit_plays_path(:p => item)) unless item.zero? %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
